body {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  font-family: "Helvetica", sans-serif;
  color: #333;
}
main {
  display: flex;
  flex-direction: row;
  flex: auto;
}
footer{width:100%;}
article {
  flex: 2;
  overflow-y: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}
aside {
  flex: 1;
  overflow-y: auto;
}
.logo {
  font-size: 2rem; /* Already provided in the starter CSS */
}
